        body {
            margin: 5%;
            font-family: Arial, sans-serif;
            background-image: url('/Imagen/Nogada.png');
            background-size: cover;
            background-attachment: fixed;
        }

        header {
            width: 100%;
            height: 200px;
            background-image: url('/Imagen/Cema.png');
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 40px;
            box-sizing: border-box;
        }

        .logo {
            width: 120px;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 10px;
            padding: 0;
            margin: 0;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: bold;
            align-items: center;
        }

        /* CONTENEDORES */
        .contenedor-principal {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
            padding: 10%;
        }

        .caja {
            width: 300px;
            height: auto;
            background: rgba(255, 255, 255, 0.85);
            border-radius: 12px;
            text-align: justify;
            padding: 15px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.3);
            opacity: 0;
            transform: translateX(0);
            animation: aparecer-mover 5s forwards;
        }

        .caja img {
            width: 100%;
            height: 200px;
            border-radius: 0px;
            object-fit: cover;
        }

        /* ANIMACIÓN: aparece y luego se mueve */
        @keyframes aparecer-mover {
            0% { opacity: 0; transform: translateX(0); }
            20% { opacity: 1; }
            100% { opacity: 1; transform: translateX(-120px); }
        }

        /* DELAYS INDEPENDIENTES */
        .caja:nth-child(1) { animation-delay: 0s; }
        .caja:nth-child(2) { animation-delay: 5s; }
        .caja:nth-child(3) { animation-delay: 10s; }

        footer {
            margin-top: 60px;
            background: #111;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .redes a {
            margin: 0 10px;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    